body{
  background: #252525;
	font-family:Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.appTitle:hover {
	font-size: xx-large;
	font-weight: bold;
	color: linear-gradient(330.28deg,#2CFFF2 0%, #1E78FF  30.73%, #FF54A6  55.73%, #FF6E1D  79.17%, #FF3E3E 100%);
}

.appTitle {
	margin-left: 1%;
	margin-top: 1%;
	font-size: xx-large;
	font-weight: bold;
	background: linear-gradient(330.28deg,#2CFFF2 0%, #1E78FF  30.73%, #FF54A6  55.73%, #FF6E1D  79.17%, #FF3E3E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inp-border{
	padding: 5px;
	margin: 2vh 1vh;
	border-radius: 67px;
  max-width:200px;
}

.submit {
	size: 10px;
}

input{
	font-size: 17px;
}
.input{
	padding: 15px;
	outline: none;
	border:double 0;
	background: #252525;
	border-radius: 67px;
	position: relative;
	box-sizing: border-box;
	display: block;
  width: 100%;
}
.a1{
  background: linear-gradient(330.28deg,#FF6E1D  100%,#FF6E1D  100%,#FF6E1D  100%);
  
}
.a1 >input{
  color: #FF6E1D;
}
.a1 >input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF6E1D;
  opacity: 0.6; /* Firefox */
}

.inp-border:hover{
		background: linear-gradient(330.28deg,#2CFFF2       0%, #1E78FF  30.73%, #FF54A6  55.73%, #FF6E1D       79.17%, #FF3E3E  100%);
}
